html
  head
    link(rel="stylesheet", href="index.css", type="text/css")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    title TempSense – A COMP 264 Project
  body
    div.container
      div.title
        h1 TempSense
        p A COMP 264 Project
      div.timestamp
        p Last updated at
        h2 #{timestamp}
      div.c
        h1 #{c}°C
      div.f
        h1 #{f}°F
